@font-face{
    font-family: 'Gilroy Light'; /* Название шрифта */
    src: url(/fonts/Gilroy-Regular.ttf); /* Путь до файла шрифтов */
}

@font-face{
    font-family: 'Gilroy Bold'; /* Название шрифта */
    src: url(/fonts/Gilroy-Bold.ttf); /* Путь до файла шрифтов */
}

body{
    background-image: url("/img/bg991.png");
    font-family: "Gilroy Light";
}
h1, h2, h3, h4, h5, h6{
    font-family: "Gilroy Bold";
}

.bg-wrapper {
    background: url(/img/blue-bg.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 721px;
}
.bg_transparent{
    background-color: transparent;
}
span.sub-text {
    display: block;
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 32px;
}
h1, h2 {
    font-size: 45px;
    line-height: 1.1;
}
.br-50{
    border-radius: 50px;
}
p, li{


    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    line-height: 1.71;

}

.form {
    background-color: #edf0fc;
    padding: 40px 30px;
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.form .title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}
.twoblocks{
    z-index: 1;
}
.twoblocks .title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 34px;
    max-width: 430px;
    display: block;
}

.twoblocks .sub-text {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 24px;
}
.twoblocks_after:after{
    content: '';
    position: absolute;
    right: 0px;
    bottom: -50px;
    background-image: url('/img/dots-gray.png');
    background-repeat: no-repeat;
    width: 296px;
    height: 296px;
    z-index: -1;
}
.twoblocks_after:before {
    content: '';
    position: absolute;
    left: -45px;
    bottom: -55px;
    background-image: url('/img/curve-blue-1.svg');
    width: 263px;
    height: 312px;
    z-index: -1;
    background-size: 100%;
}
.bg_dark_blue{
    background-color: #312369;
}
.bg_dark_blue a{
    color: #ffffff;
    text-decoration: none;
    line-height: 1.1;
}
.twoblocks .bg-white a{
    color: #000000;
    text-decoration: none;
    line-height: 1.1;

}
